body {
    background-image: url("../img/bg-white.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    overflow: hidden;
}
.navbar-nav > a{
    margin-left: 100px;
    margin-right: 100px;
}
.parallax {
    height: 700px;
    background-image: url("../img/hot-boss-transparent-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: darkred;
}
.nav-parallax {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}
#nav-img {
    padding-top: 5px;
    width: 200px;
    height: 200px;
}
.fade-in-image {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
a:hover {
    color: floralwhite!important;
}
.nav-text-color {
    color: floralwhite;
}
.underline {
    text-decoration: none;
    position: relative;
}

.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: papayawhip;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.underline:hover:after {
    width: 80%;
    background: darkorange;
}
.main-feature {
    background-color: papayawhip;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
article {
    background-color: floralwhite;
    color: #490000;
    margin-bottom: 50px;
}
.article-header {
    font-family: 'Corben', Georgia, Times, serif;
}
#car {
    margin: 0 auto;
    background-image: url("../img/bg-red.jpg");
}
.car-height {
    height: 500px;
}
.img-dimensions {
    height: inherit;
    width: 70%;
    display: block;
    margin: auto;
}
.spice-level {
    height: 40px;
    width: 60px;
    margin: auto;
}