body {
    background-image: url("../img/bg-white.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav > a{
    margin-left: 150px;
    margin-right: 60px;
}
nav {
    background-color: darkred;
}
.nav-parallax {
    top: 0;
    position: fixed;
    width: 100%;
}
#nav-img {
    margin-top: -50px;
    margin-bottom: -50px;
    width: 150px;
    height: 150px;
}
.fade-in {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
a:hover {
    color: floralwhite!important;
}
.nav-text-color {
    color: floralwhite;
}
.underline {
    text-decoration: none;
    position: relative;
}
.underline:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: papayawhip;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.underline:hover:after {
    width: 80%;
    background: darkorange;
}
.first_box {
    padding-top: 50px;
    padding-bottom: 50px;
}
.line_box {
    padding-bottom: 50px;
}
table {
    width: 50%;    
}
th {
    text-align: center;
}
.price {
    text-align: center;
}
.a_button {
    color: whia:hover {
        color: floralwhite!important;
    }
    .nav-text-color {
        color: floralwhite;
    }
    .underline {
        text-decoration: none;
        position: relative;
    }
    
    .underline:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: papayawhip;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    
    .underline:hover:after {
        width: 80%;
        background: darkorange;
    }
    .first_box {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .line_box {
        padding-bottom: 50px;
    }
    table {
        width: 50%;    
    }a:hover {
        color: floralwhite!important;
    }
    .nav-text-color {
        color: floralwhite;
    }
    .underline {
        text-decoration: none;
        position: relative;
    }
    
    .underline:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: 2px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 50%;
        background: papayawhip;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        transition:.5s;
    }
    
    .underline:hover:after {
        width: 80%;
        background: darkorange;
    }
    .first_box {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .line_box {
        padding-bottom: 50px;
    }
    table {
        width: 50%;    
    }
    th {
        text-align: center;
    }
    .price {
        text-align: center;
    }
    .a_button {
        color: whi
    th {
        text-align: center;
    }
    .price {
        text-align: center;
    }
    .a_button {
        color: white;
    text-decoration: none;
}
.button_box {
    padding-top: 20px;
}
tr {
    border-bottom: 1px solid black;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
.wtv {
    background-color: floralwhite;
    color: #490000;
}