.parallax {
    min-height: 500px;
    background-image: url("https://www.thespruce.com/thmb/u858u7wWI6zcc8WjAzHcAVoISpA=/1777x1333/smart/filters:no_upscale()/choosing-and-growing-hot-peppers-1403380-04-681055e56abb464ead96ee4c333cda4f.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}
.nav-parallax {
    top: 0px;
    position: fixed;
    width: 100%;
    height: 50px;
    margin-top: 0
}
#car {
    width: 50%;
    margin: 0 auto;
}
.car-height {
    height: 500px;
}
.img-dimensions {
    height: inherit;
    width: 100%;
    position: absolute;
}
.first_box {
    padding-top: 50px;
    padding-bottom: 50px;
}
.line_box {
    padding-bottom: 50px;
}
.img_box {
    padding
}
table {
    width: 50%;
}
th {
    text-align: center;
}
.price {
    text-align: center;
}