
.aligner {
    height: inherit;
    width: 60%;
    display: block;
    margin: auto;
}

#pad1{
    padding-top: 150px;
}
#pad2{
    padding-top: 22px;
}

.center{
    display: block;
    margin: auto;
}


