
.aligner {
    height: inherit;
    width: 60%;
    display: block;
    margin: auto;
}

#pad1{
    padding-top: 150px;
}
#pad2{
    padding-top: 22px;
}

.center{
    display: block;
    margin: auto;
}

.aligncenter{
    text-align: center;
}

body {
    background-image: url("bg-white.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav > a{
    margin-left: 150px;
    margin-right: 100px;
}
.parallax {
    height: 700px;
    background-image: url("hot-boss-transparent-black.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    background-color: darkred;
}
.nav-parallax {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
}
#nav-img {
    width: 80px;
    height: 80px;
}