body {
    background-image: url(img/bg-white.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    margin: auto;
    padding-top: 30vh;
    text-align: center;
}

a {
    text-align: center;
}

.form-link {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
  }
  
  p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
  }
  
  .wtv {
    background-color: floralwhite;
    color: #490000;
  }